<ion-view class="home" cache-view="false">
  <!-- popup injection point -->
  <div ui-view></div>
  <!-- bottom bar -->
  <div class="bottomBar" ng-if="bottomBarVisible()">
    <!--TODO: Like button disabled for v1.0.0 - implement-->
    <!--<div class="likeDislikeButton icon ion-thumbsdown" on-tap="dislikeButtonClick()"></div>-->
    <div class="sendButtonHit" on-tap="sendButtonClick()">
      <div class="sendButton">{{'SEND' | translate}}</div>
    </div>
    <!--TODO: Dislike button disabled for v1.0.0 - implement-->
    <!--<div class="likeDislikeButton ion-thumbsup" on-tap="likeButtonClick(item)"></div>--> 
  </div>
  <ion-content style="line-height:0px" scroll="true" scrollbar-y="false" has-bouncing="false" style="width:{{windowWidth}}px">
    <!-- settings button -->
    <div class="settingsButtonHit" on-tap="settingsButtonClick()" ng-if="!childStateActive()">
      <div class="settingsButton icon ion-gear-a"></div>
    </div>
    <!-- debug button -->
    <div class="debugButton" on-tap="debugButtonClick()"></div>
    <!-- image slides -->
    <gw-mob-fixedslider
      items="chosenImages"
      currentitem="imageSlider.currentImage"
      eof="imageSlider.eof"
      swipeleft="imageSlider.swipeLeft"
      swiperight="imageSlider.swipeRight"
      swipedleft="imageSliderSwiped()"
      swipedright="imageSliderSwiped()"
      dotindicatorposition="bottom" 
      width="deviceWidth"
      height="slideImageHeight"
      swipehintenabled="!settings.imageSliderSwiped"
      swipehintverticalposition="slideImageHeight/2-25"
      swipehintstartdelay="config.image.swipeHint.startDelay"
      swipehintrepeatdelay="config.image.swipeHint.repeatDelay">
      <!-- slide -->
      <gw-mob-slide>
        <div class="imageContainer" style="height:{{slideImageHeight}}px">
          <!-- image -->
          <div class="image" style="background-image:url('{{getImageLocalUrl(item)}}')"></div>
        </div>
      </gw-mob-slide>
      <!-- eof slide -->
      <gw-mob-eof>
        <div class="imageContainer" style="height:{{slideImageHeight}}px">
          <!-- eof text -->
          <div class="moreImagesText">{{'EOF_IMAGE' | translate}}</div>
          <!-- eof image -->
          <div class="image" style="background-image:url('state/home/eof.jpg')"></div>
        </div>
      </gw-mob-eof>
    </gw-mob-fixedslider>
    <!-- text slides -->
    <gw-mob-fixedslider
      items="chosenTexts"
      currentitem="textSlider.currentText"
      eof="textSlider.eof"
      swipeLeft="textSlider.swipeLeft"
      swipeRight="textSlider.swipeRight"
      swipedleft="textSliderSwiped()"
      swipedright="textSliderSwiped()"
      dotindicatorposition="top"
      width="deviceWidth"
      swipehintenabled="!settings.textSliderSwiped"
      swipehintverticalposition="60"
      swipehintstartdelay="config.text.swipeHint.startDelay"
      swipehintrepeatdelay="config.text.swipeHint.repeatDelay">
      <!-- slide -->
      <gw-mob-slide>
       <!-- text -->
        <div class="text">
          <!-- title -->
          <div class="titleContainer">
            <div class="title" ng-show="textIsThought(item)">{{'OTD_THOUGHT' | translate}}</div>
            <div class="title" ng-show="textIsJoke(item)">{{'OTD_JOKE' | translate}}</div>
          </div>
          <!-- content -->
          <span ng-bind-html="formatTextForDisplay(item.Content)" style="white-space: pre-wrap"></span>
          <!-- author -->
          <div class="author" ng-show="textIsQuote(item)">- {{item.Author}}</div>
        </div>
      </gw-mob-slide>
      <!-- eof slide -->
      <gw-mob-eof>
        <div class="text">
          <!-- eof text -->
          <span>{{'EOF_TEXT' | translate}}</span>
        </div>
      </gw-mob-eof> 
    </gw-mob-fixedslider>
  </ion-content>
</ion-view>
