<gw-mob-popup class="settings" cache-view="false">
  <!-- close button -->
  <div class="closeButtonHit" ng-click="closeButtonClick()">
    <div class="closeButton icon ion-close-round"></div>
  </div>
  <ion-tabs class="tabs-light">
    <!-- mum tab -->
    <ion-tab title="{{'SET_TAB_RECIPIENT' | translate}}" icon-on="ion-android-contact" icon-off="ion-android-contact">
      <!-- mum pet name dropdrown -->
      <div class="group" ng-if="mumPetNames">
        <label class="inputLabel">{{'REFER_RECIPIENT' | translate}}</label>
        <div 
          ng-click="dropdownClick()"
          dropdown-select="mumPetNames" 
          dropdown-model="mumPetName"
          dropdown-item-label="text">
        </div>
      </div>
      <!-- email subject dropdown -->
      <div class="group">
        <label class="inputLabel">{{'EMAIL_SUBJECT_SELECT' | translate}}</label>
        <div 
          ng-click="dropdownClick()"
          dropdown-select="emailSubjects" 
          dropdown-model="emailSubject"
          dropdown-item-label="text">
        </div>
      </div>
      <!-- mum contact select -->
      <gw-mob-contact
        emailaddresslabel="{{'RECIPIENT_EMAIL' | translate}}"
        mobilenumberlabel="{{'RECIPIENT_MOB' | translate}}"
        selectbuttontext="{{'SEL_CONT' | translate}}"
        emailaddress="settings.emailAddress"
        mobilenumber="settings.mobileNumber">
      </gw-mob-contact>
    </ion-tab>
    <!-- reminder tab -->
    <ion-tab title="{{'SET_TAB_REM' | translate}}" icon-on="ion-clock" icon-off="ion-clock">
      <!-- reminder toggle -->
      <div class="radioGroup">
        <div class="reminderLabel">{{'DAILY_REMINDER' | translate}}</div>
        <div>
          <ion-toggle ng-model="settings.notification" ng-change="notificationChange()" toggle-class="toggle-calm"></ion-toggle>
        </div>
      </div>
      <!-- reminder time of day picker -->
      <div class="radioGroup" ng-show="settings.notification">
        <div class="reminderLabel">{{'TIME_DAY' | translate}}</div>
        <div class="timePickerContainer">
          <gw-mob-timepicker class="timePicker" hour="settings.notificationHour" minute="settings.notificationMinute" change="notificationChange()" minutestep="15">
          </gw-mob-timepicker>
        </div>
      </div>
    </ion-tab>
    <!-- messages tab -->
    <ion-tab title="{{'SET_TAB_MES' | translate}}" icon-on="ion-chatbox" icon-off="ion-chatbox">
      <div>
        <!-- info label -->
        <div class="messageText">{{'MES_PREF' | translate}}</div>
        <!-- intention radios -->
        <div class="radioGroup" ng-repeat="intention in intentions">
          <div class="radioGroupLabel">{{intention.trans | translate}}</div>
          <div class="radioGroupButtons">
            <ion-radio ng-model="settings[intention.name]" ng-value="'none'" ng-change="intentionWeightChange(intention)" name="{{intention.name}}">
              {{'MES_PREF_NONE' | translate}}
            </ion-radio>
            <ion-radio ng-model="settings[intention.name]" ng-value="'few'" ng-change="intentionWeightChange(intention)" name="{{intention.name}}">
              {{'MES_PREF_FEW' | translate}}
            </ion-radio>
            <ion-radio ng-model="settings[intention.name]" ng-value="'many'"ng-change="intentionWeightChange(intention)" name="{{intention.name}}">
              {{'MES_PREF_MANY' | translate}}
            </ion-radio>
          </div>
        </div>
      </div>
    </ion-tab>
    <!-- language tab -->
    <ion-tab title="{{'SET_TAB_LANG' | translate}}" icon-on="ion-quote" icon-off="ion-quote">
      <!-- language dropdrown -->
      <div class="radioGroup">
        <label class="inputLabel">{{'LANGUAGE' | translate}}</label>
        <div 
          ng-click="dropdownClick()"
          dropdown-select="languages" 
          dropdown-model="language"
          dropdown-item-label="text"
          dropdown-onchange="languageSelected(selected)">
        </div>
      </div>
    </ion-tab>
    <!--
    TODO: Image settings disabled for v1.0.0 - implement
    <ion-tab title="Images" icon-on="ion-image" icon-off="ion-image">
      <div class="radioGroup">
        <label class="radioGroupLabel">Kittens</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.imageKittens" ng-value="'none'" name="kittens">none</ion-radio>
          <ion-radio ng-model="settings.imageKittens" ng-value="'few'" name="kittens">few</ion-radio>
          <ion-radio ng-model="settings.imageKittens" ng-value="'many'" name="kittens">many</ion-radio>
        </div>
      </div>
      <div class="radioGroup">
        <label class="radioGroupLabel">Nature</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.imageNature" ng-value="'none'" name="nature">none</ion-radio>
          <ion-radio ng-model="settings.imageNature" ng-value="'few'" name="nature">few</ion-radio>
          <ion-radio ng-model="settings.imageNature" ng-value="'many'" name="nature">many</ion-radio>
        </div>
      </div>
    </ion-tab>
    -->
  </ion-tabs>
</gw-mob-popup>
