.textListItem {
  left: 0;
  right: 0;
}
.filter {
  background-color: #cccccc;
}
.item-select select {
  background: transparent;
  color: white;
}
.input-label {
  color: white;
}
.baritem {
  background-color:#990033;
}
.filters {
  margin-top: 1px;
}
.bar.bar-energized {
  border: none;
}
