<div ng-controller="TextListCtrl">
  <div class="filters">
    <label class="item item-input item-select filter" ng-show="areasReady()">
      <div class="input-label dark">area</div>
      <select ng-model="area" ng-options="area.Name for area in areas" ng-change="areaSelected()"></select>
    </label>
    <label class="item item-input item-select filter" ng-show="intentionsReady()">
      <div class="input-label dark">intention</div>
      <select ng-model="intention" ng-options="intention.Label for intention in intentions" ng-change="intentionSelected()"></select>
    </label>
    <label class="item item-input item-select filter" ng-show="textsReady()">
      <div class="input-label dark">gender</div>
      <select ng-model="gender" ng-options="gender for gender in ['male','female']" ng-change="genderSelected()"></select>
    </label>
    <label class="item item-input item-select filter" ng-show="textsReady()">
      <div class="input-label dark">recipient gender</div>
      <select ng-model="recipientGender" ng-options="gender for gender in ['male','female']" ng-change="recipentGenderSelected()"></select>
    </label>
  </div>
  <p>{{texts.length}}</p>
  <ion-list has-bouncing="true">
    <ion-item ng-repeat="text in texts" class="item-text-wrap">
      {{text.Content}}
      <ion-option-button class="button-energized" ng-click="share(item)">Send</ion-option-button>
    </ion-item>
  </ion-list>
</div>
