/src/lib
/platforms
/plugins
/hooks
/www
/scss
/node_modules
/lib
/fonts
/resources
bower.json
config.xml
gulpfile.js
ionic.project
package.json
index.html
.bowerrc
.DS_Store
.npm-debug.log
*.idea
*.swp
*.swo
