<ion-view class="home" cache-view="false">
  <!-- sub view injection point -->
  <div ui-view></div>
  <!-- send popup -->
  <gw-mob-popup class="sendPopup" ng-if="sendPopupVisible">
    <gw-mob-send
      sendsms="sendSMS()"
      sendemail="sendEmail()"
      sendfacebook="sendFacebook()"
      showsendfacebook="false"
      sendemaillabel="{{'SND_EMAIL' | translate}}"
      sendsmslabel="{{'SND_SMS' | translate}}"
      sendfacebooklabel="{{'SND_FB' | translate}}">
    </gw-mob-send>
    <div class="popupButtonHit pad" ng-click="sendCancelButtonClick()">
      <div class="popupButton">{{'CANCEL' | translate}}</div>
    </div>
  </gw-mob-popup>
  <!-- sms image popup -->
  <gw-mob-popup class="textPopup" ng-if="smsImagePopupVisible">
    <div>{{'SMS_IMAGE_WARN' | translate}}</div>
    <div class="popupButtonHit pad" ng-click="sendSMS()">
      <div class="popupButton">{{'SEND_TEXT_ONLY' | translate}}</div>
    </div>
    <div class="popupButtonHit" ng-click="sendEmail()">
      <div class="popupButton" >{{'SEND_BY_EMAIL' | translate}}</div>
    </div>
    <div class="popupButtonHit" ng-click="sendCancelButtonClick()">
      <div class="popupButton">{{'CANCEL' | translate}}</div>
    </div>
  </gw-mob-popup>
  <!-- sent popup -->
  <gw-mob-popup class="textPopup" ng-if="sentPopupVisible">
    <div>{{'MES_SEND_SUC' | translate}}</div>
  </gw-mob-popup>
  <!-- error popup -->
  <gw-mob-popup class="textPopup" ng-if="errorPopupVisible">
    <div>{{'MES_SEND_ERR' | translate}}</div>
  </gw-mob-popup>
  <!-- email contact picker popup -->
  <gw-mob-popup class="contactPopup" ng-if="emailContactPopupVisible">
    <gw-mob-contact
      showmobilenumber="false"
      emailaddresslabel="{{'MUM_EMAIL' | translate}}"
      selectbuttontext="{{'SEL_CONT' | translate}}"
      emailaddress="settings.emailAddress"
      mobilenumber="settings.mobileNumber">
    </gw-mob-contact>
    <div class="popupButtonHit pad" ng-if="emailAddressValid()" ng-click="sendEmail()">
      <div class="popupButton"><p>{{'SEND' | translate}}</p></div>
    </div>
    <div class="popupButtonHit" ng-class="{'pad':!emailAddressValid()}" ng-click="contactCancelButtonClick()">
      <div class="popupButton">{{'CANCEL' | translate}}</div>
    </div>
  </gw-mob-popup>
  <!-- sms contact picker popup -->
  <gw-mob-popup class="contactPopup" ng-if="smsContactPopupVisible">
    <gw-mob-contact
      showemailaddress="false"
      mobilenumberlabel="{{'MUM_MOB' | translate}}"
      selectbuttontext="{{'SEL_CONT' | translate}}"
      emailaddress="settings.emailAddress"
      mobilenumber="settings.mobileNumber">
    </gw-mob-contact>
    <div class="popupButtonHit pad" ng-if="mobileNumberValid()" ng-click="sendSMS()">
      <div class="popupButton"><p>{{'SEND' | translate}}</p></div>
    </div>
    <div class="popupButtonHit" ng-class="{'pad':!mobileNumberValid()}" ng-click="contactCancelButtonClick()">
      <div class="popupButton">{{'CANCEL' | translate}}</div>
    </div>
  </gw-mob-popup>
  <!-- bottom bar -->
  <div class="bottomBar" ng-if="!endOfTextVisible() && !endOfImageVisible() && bottomBarVisible && !popupVisible()">
    <!--TODO: Like button disabled for v1.0.0 - implement-->
    <!--<div class="likeDislikeButton icon ion-thumbsdown" ng-click="dislikeButtonClick()"></div>-->
    <div class="sendButtonHit" ng-click="sendButtonClick()">
      <div class="sendButton">{{'SEND' | translate}}</div>
    </div>
    <!--TODO: Dislike button disabled for v1.0.0 - implement-->
    <!--<div class="likeDislikeButton ion-thumbsup" ng-click="likeButtonClick(item)"></div>--> 
  </div>
  <ion-content style="line-height:0px" scroll="true" scrollbar-y="false" has-bouncing="false" style="width:{{windowWidth}}px">
    <!-- settings button -->
    <div class="settingsButtonHit" ng-click="settingsButtonClick()" ng-if="!popupVisible()">
      <div class="settingsButton icon ion-gear-a"></div>
    </div>
    <!-- debug button -->
    <div class="debugButton" ng-click="debugButtonClick()"></div>
    <!-- image swipe hint -->
    <gw-mob-swipehint 
      style="top:{{slideImageHeight/2-25}}px" 
      complete="imageSwipeHintComplete()" 
      ng-if="imageSwipeHintVisible===true">
    </gw-mob-swipehint>
    <!-- text swipe hint -->
    <gw-mob-swipehint 
      style="top:{{deviceHeight-(deviceHeight-slideImageHeight)/2-25}}px" 
      complete="textSwipeHintComplete()" 
      ng-if="textSwipeHintVisible===true">
    </gw-mob-swipehint>
    <!-- image slides -->
    <gw-mob-fixedslider
      items="images"
      currentitem="imageSlider.currentImage"
      eof="imageSlider.eof"
      swipeleft="imageSlider.swipeLeft"
      swiperight="imageSlider.swipeRight"
      swipedleft="imageSwiped()"
      swipedright="imageSwiped()"
      dotindicatorposition="bottom" 
      on-tap="setSwipeHintState('image')"
      width="deviceWidth"
      height="slideImageHeight">
      <!-- slide -->
      <gw-mob-slide>
        <div class="imageContainer" style="height:{{slideImageHeight}}px">
          <!-- image -->
          <div class="image" style="background-image:url('{{item}}')"></div>
        </div>
      </gw-mob-slide>
      <!-- eof slide -->
      <gw-mob-eof>
        <div class="imageContainer" style="height:{{slideImageHeight}}px">
          <!-- eof text -->
          <div class="moreImagesText">{{'EOF_IMAGE' | translate}}</div>
          <!-- eof image -->
          <div class="image" style="background-image:url('app/home/eof.jpg')"></div>
        </div>
      </gw-mob-eof>
    </gw-mob-fixedslider>
    <!-- text slides -->
    <gw-mob-fixedslider
      items="texts"
      currentitem="textSlider.currentText"
      eof="textSlider.eof"
      swipeLeft="textSlider.swipeLeft"
      swipeRight="textSlider.swipeRight"
      swipedleft="textSwiped()"
      swipedright="textSwiped()"
      dotindicatorposition="top"
      on-tap="setSwipeHintState('text')"
      width="deviceWidth">
      <!-- slide -->
      <gw-mob-slide>
       <!-- text -->
        <div class="text">
          <!-- title -->
          <div class="titleContainer">
            <div class="title" ng-show="textIsThought(item.text)">{{'OTD_THOUGHT' | translate}}</div>
            <div class="title" ng-show="textIsJoke(item.text)">{{'OTD_JOKE' | translate}}</div>
          </div>
          <!-- content -->
          <span ng-bind-html="formatTextForDisplay(item.text.Content)" style="white-space: pre-wrap"></span>
          <!-- author -->
          <div class="author" ng-show="textIsQuote(item.text)">- {{item.text.Author}}</div>
        </div>
      </gw-mob-slide>
      <!-- eof slide -->
      <gw-mob-eof>
        <div class="text">
          <!-- eof text -->
          <span>{{'EOF_TEXT' | translate}}</span>
        </div>
      </gw-mob-eof> 
    </gw-mob-fixedslider>
  </ion-content>
</ion-view>
