.textSelectModeA .sendBarContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.textSelectModeA .likeDislikeIconsContainer {
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
.textSelectModeA .likeDislikeIcons {
  display: inline-block;
  color: #2980b9;
  font-size: 3.0em;
}
.textSelectModeA .likeDislikeIcons:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}
.textSelectModeA .likeDislikeIcons .icon {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

