<div class="textSelectModeB" style="width:{{windowWidth}}px; height:{{windowHeight}}px" ng-controller="TextSelectModeBCtrl">
  <!-- swipe indicator -->
  <div class="swipeIndicator" style="height:{{slideImageHeight}}px">
    <div class="outer">
      <div class="inner">
        <div class="icon" ng-class="indicatorClasses"></div>
      </div>
    </div>
  </div>
  <!-- slideswipe -->
  <gw-mob-slideswipe
    ng-if="textList"
    tindermode="true"
    getnextitem="getNextText()"
    devicewidth="deviceWidth"
    deviceheight="deviceHeight"
    draggedleft="draggedLeft()"
    draggedright="draggedRight()"
    swipedleft="swipedLeft()"
    swipedright="swipedRight()"
    centered="centered()">
    <!-- slide -->
    <gw-mob-slide>
      <!-- image -->
      <div class="image" style="height:{{slideImageHeight}}px; background-image:url('{{getTextImageUrl(item)}}')"></div>
      <!-- like/dislike icons -->
      <div class="likeDislikeIconsContainer">
        <div class="likeDislikeIcons">
          <div class="dislikeIcon icon ion-sad" ng-click="dislikeIconClick()"></div> 
          <div class="likeIcon icon ion-happy" ng-click="likeIconClick()"></div> 
        </div>
      </div>
      <!-- text -->
      <div class="text">{{item.Content}}</div>
      <!-- send bar -->
      <div class="sendBarContainer">
        <gw-mob-sendbar 
          emailaddress="emailAddress" 
          mobilenumber="mobileNumber" 
          text="item.Content"
          imageurl="item.imageUrl">
        </gw-mob-sendbar>
      </div>
    </gw-mob-slide>
  </gw-mob-slideswipe>
</div>
