.textSelect .sendBarContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.textSelect .swipeIndicator {
  pointer-events: none;
  position: absolute;
  z-index: 300;
  width: 100%;
}
.textSelect .swipeIndicator .outer {
  display: table;
  height: 100%;
  width: 100%;
}
.textSelect .swipeIndicator .inner {
  display: table-cell;
  vertical-align: middle;
}
.textSelect .swipeIndicator .icon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12em;
  opacity: 1.0;
  color: #2980b9;
}
.textSelect .swipeIndicator .center {
  opacity: 0;
}
.textSelect .swipeIndicator .animateSwipe { 
  animation-name: indicatorAnimateSwipe; 
  animation-duration: 0.25s;
  animation-timing-function: ease-out;  
  animation-fill-mode: forwards;
}
@keyframes indicatorAnimateSwipe {
  from { opacity: 1.0; }
  65% {opacity: 1.0; }
  to { opacity: 0.0; }
}
