<div class="textSelect" style="width:{{windowWidth}}px; height:{{windowHeight}}px">
  <!-- swipe indicator -->
  <div class="swipeIndicator" style="height:{{slideImageHeight}}px" ng-if="swipeDirection!=='none'">
    <div class="outer">
      <div class="inner">
        <div class="icon ion-close-round" ng-if="swipeDirection==='left'"></div>
        <div class="icon ion-heart" ng-if="swipeDirection==='right'"></div>
      </div>
    </div>
  </div>
  <!-- slides -->
  <div class="slideContainer" style="width:{{windowWidth}}px">
    <div 
      ng-repeat="slide in slides track by $index" 
      class="slide slideAnimation" 
      ng-class="slide.animation"
      ng-style="{width:windowWidth+'px', 'z-index':slide.zIndex}"
      ng-if="slide.text">
      <!-- image/text slide -->
      <gw-mob-imagetextslide
        text="slide.text.Content"
        imageurl="slide.imageUrl"
        imageheight="slideImageHeight">
      </gw-mob-imagetextslide>
      <!-- send bar -->
      <gw-mob-sendbar 
        emailaddress="emailAddress" 
        mobilenumber="mobileNumber" 
        text="slide.text.Content"
        imageurl="slide.imageUrl">
      </gw-mob-sendbar>
      <!-- bottom of slide marker -->
      <div class="slideBottom"></div>
    </div>
  </div>
</div>
