.textSelect {
  margin-top: 0px;
  height: 90%;
}
.textSelectImageSlider {
  height: 50%;
}
.textSelectImageSlider .slider {
  height: 100%;
}
.textSelectImage {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed fixed; 
  margin-bottom: 30px;
}
.textSelectContentSlider {
  margin-top: 5px;
  margin-bottom: 10px; 
}
.textSelectContent {
  color: rgba(0,0,0,0.7); 
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
} 
/*
.textSelect a {
  text-decoration: none; 
  color: black;
} 
.textListItem {
  color: #333333; 
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.textListItemExpanded {
  color: #222222; 
  margin-bottom: 0px;
  background-color: #fce5fc;
}
*/
.sendBar {
  margin-top: 5px;
  margin-bottom: 10px;
}
.sendBarButton .ion-loading-c {
  font-size: 90px;
}
.sendBarButton {
  border: none;
  color: rgba(255,255,255,0.5) !important;
}
.sendBarButtonSendViaEmail {
  background-color: transparent; /*#16a085;*/
}
.sendBarButtonSendViaSMS {
  background-color: transparent; /*#e67e22;*/
}
.sendBarButtonSendViaFacebook {
  background-color: transparent; /*#c0392b;*/
}

 
