.textSelect {
  margin-top: 10px;
  height: 97%;
}
.textSelectSlider {
  height: 100%;
}
.textSelectSlider .slider {
  height: 100%;
}
.textSelectSliderContent {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  height: 100%;
}
.textSelectNavBar {
  height: 40px;
  width: 100%;
  padding: 10px;
}
.textSelectNavButton {
  color: white;
  font-size: 30px;
  opacity: 0.5;
}
.textSelectNavPrevButton {
  float: left;
}
.textSelectNavNextButton {
  float: right;
}
.textSelectNavSettingsButton {
  width: 50%;
  margin: 0 auto;
}
.textSelectImage {
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed fixed; 
}
.textSelectText {
  height: 30%;
  color: rgba(0,0,0,0.7); 
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  text-align: center;
} 
.textSelectSendButton {
  bottom: 0px; 
  width: 100%;
  color: white;
  height: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  padding-top: 20px; 
  background-color: rgba(0,0,0,0.3);
  text-align: center;
}
.sendBar {
  margin-top: 5px;
  margin-bottom: 10px;
}
.sendBarButton .ion-loading-c {
  font-size: 90px;
}
.sendBarButton {
  border: none;
  color: rgba(255,255,255,0.5) !important;
}
.sendBarButtonSendViaEmail {
  background-color: transparent; /*#16a085;*/
}
.sendBarButtonSendViaSMS {
  background-color: transparent; /*#e67e22;*/
}
.sendBarButtonSendViaFacebook {
  background-color: transparent; /*#c0392b;*/
}

 
