.textSelect {
  margin-top: 10px;
  height: 90%;
}
.textSelectSlider {
  height: 100%;
}
.textSelectSlider .slider {
  height: 100%;
}
.textSelectSliderContent {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}
.textSelectNavBar {
  height: 50px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(255,255,255,0.6);
}
.textSelectImage {
  height: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed fixed; 
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}
.textSelectContent {
  height: 30%;
  color: rgba(0,0,0,0.7); 
  background-color: rgba(255,255,255,0.6);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  vertical-align: center;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
} 
.sendBar {
  margin-top: 5px;
  margin-bottom: 10px;
}
.sendBarButton .ion-loading-c {
  font-size: 90px;
}
.sendBarButton {
  border: none;
  color: rgba(255,255,255,0.5) !important;
}
.sendBarButtonSendViaEmail {
  background-color: transparent; /*#16a085;*/
}
.sendBarButtonSendViaSMS {
  background-color: transparent; /*#e67e22;*/
}
.sendBarButtonSendViaFacebook {
  background-color: transparent; /*#c0392b;*/
}

 
