@font-face {
  font-family: 'notoserif-italic';
  src: url('./fonts/notoserif-italic.woff') format('woff');
}
@font-face {
  font-family: 'notoserif-bolditalic';
  src: url('./fonts/notoserif-bolditalic.woff') format('woff');
}
.appView {
  padding: 0px;
  margin: 0px;
  background-color: white;
}
