.textList {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
.textList a {
  text-decoration: none; 
  color: black;
} 
.textListItem {
  color: #222222; 
  margin-bottom: 5px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  border-radius: 8px;
}
.textListItemExpanded {
  padding-top: 30px;
  background-color: #fff9ff;
}
.textListButtonBar {
  margin-top: 25px;
}
.textListItemButton {
  border: none;
  color: white !important;
}
.textListItemButtonSendViaEmail {
  background-color: #16a085; 
  margin-right: 5px;
}
.textListItemButtonSendViaSMS {
  background-color: #e67e22;
}
.textListItemButtonSendViaFacebook {
  background-color: #c0392b;
  margin-left: 5px;
}

 
