.intentionList {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
.intentionList a {
  text-decoration: none; 
  color: black;
} 
.intentionListItem {
  margin-bottom: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  border-radius: 8px;
}
