.intentionList {
  margin-top: 50px;
}
.intentionList a {
  text-decoration: none; 
  color: black;
} 
.intentionListItem {
  color: #333333; 
  margin-bottom: 5px;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}
