<div class="textSelectModeC" style="width:{{windowWidth}}px; height:{{windowHeight}}px" ng-controller="TextSelectModeCCtrl">
  <!-- IMAGE SLIDES -->
  <gw-mob-slideswipe
    ng-if="textList"
    getnextitem="getNextImage(currentImage)"
    getpreviousitem="getPreviousImage(currentImage)"
    currentitem="$parent.currentImage"
    devicewidth="deviceWidth"
    deviceheight="slideImageHeight">
    <!-- slide -->
    <gw-mob-slide>
      <!-- image -->
      <div class="image" style="height:{{slideImageHeight}}px; background-image:url('{{item.url}}')"></div>
    </gw-mob-slide>
  </gw-mob-slideswipe>
  <!-- TEXT SLIDES -->
  <gw-mob-slideswipe
    ng-if="textList"
    getnextitem="getNextText(currentText)"
    getpreviousitem="getPreviousText(currentText)"
    currentitem="$parent.currentText"
    swipeLeft="$parent.swipeLeft"
    swipeRight="$parent.swipeRight"
    devicewidth="deviceWidth"
    deviceheight="deviceHeight">
    <!-- slide -->
    <gw-mob-slide>
      <!-- text -->
      <div class="text">{{item.Content}}</div>
      <!-- send bar -->
      <div class="sendBarContainer" ng-show="item.TextId!==-1">
        <gw-mob-sendbar 
          emailaddress="emailAddress" 
          mobilenumber="mobileNumber" 
          text="item.Content"
          imageurl="item.imageUrl">
        </gw-mob-sendbar>
      </div>
      <!-- like/dislike icons -->
      <div class="likeDislikeIconsContainer" ng-show="item.TextId!==-1">
        <div class="likeDislikeIcons">
          <div class="dislikeIcon icon ion-ios7-close" ng-click="dislikeIconClick()"></div> 
          <div class="likeIcon icon" ng-class="{'ion-ios7-heart':item.liked, 'ion-ios7-heart-outline':!item.liked}" ng-click="likeIconClick(item)"></div> 
        </div>
      </div>
    </gw-mob-slide>
  </gw-mob-slideswipe>
</div>
