.textSelectModeC .text {
  color: rgba(0,0,0,0.7); 
  padding-top: 50px;  
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 1.05em;
} 
.textSelectModeC .sendBarContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.textSelectModeC .likeDislikeIconsContainer {
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
.textSelectModeC .likeDislikeIcons {
  display: inline-block;
  color: #2980b9;
  font-size: 3.0em;
}
.textSelectModeC .likeDislikeIcons:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}
.textSelectModeC .likeDislikeIcons .icon {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

