.textSelectModeC {
}
.textSelectModeC .text {
  color: rgba(0,0,0,0.7); 
  padding-top: 40px;  
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 1.05em;
} 
.textSelectModeC .image {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed fixed; 
}
.textSelectModeC .dotIndicatorContainer {
  position: absolute;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}
.textSelectModeC .dotIndicatorCenter {
  float: right;
  right: 50%;
  position: relative;
}
.textSelectModeC .dotIndicator {
  float: right;
  right: -50%;
  position: relative;
}
.textSelectModeC .dotIndicator .dot {
  font-size: 20px;
  opacity: 0.15;
  color: black;
}
.textSelectModeC .dotIndicator .currentDot {
  color: #2980b9;
  opacity: 1;
}
.textSelectModeC .sendBarContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
.textSelectModeC .likeDislikeIconsContainer {
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
.textSelectModeC .likeDislikeIcons {
  display: inline-block;
  color: #2980b9;
  font-size: 3.0em;
}
.textSelectModeC .likeDislikeIcons:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}
.textSelectModeC .likeDislikeIcons .icon {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

