<ion-view>
  <ion-content class="genderSelect" scroll="false" ng-controller="GenderSelectCtrl">
    <div class="title">I am..</div>
    <div class="genderContainer">
      <div class="genderBox">
        <div class="genderButton icon ion-male" ng-click="maleGenderClick()"></div>
        <p class="genderLabel">A Man</p>
      </div>
      <div class="genderBox">
        <div class="genderButton icon ion-female" ng-click="femaleGenderClick()"></div>
        <p class="genderLabel">A Woman</p>
      </div>
    </div>
  </ion-content>
</ion-view>
