.genderSelect {
  text-align: center;
  margin-top: 100px;
}
.genderSelect .title {
  font-size: 1.7em;
  margin-bottom: 30px;
  font-family: 'notoserif-italic';
  color: #339ee6;
}
.genderSelect .genderBox {
  display: inline-block;
  margin: 3px;
}
.genderSelect .genderButton {
  font-size: 2.5em;
  width: 90px;
  height: 90px;
  line-height: 90px;
  vertical-align: center;
  border-radius: 5px;
  color: white;
  background-color: #339ee6;
}
.genderSelect .genderLabel {
  margin-top: 15px;
  font-size: 1.3em;
  color: black;
  font-family: 'notoserif-italic';
  color: #339ee6;
}
