.genderSelect .titleLabel {
  font-family: 'notoserif-italic';
  font-size: 1.4em;
  color: white;
}
.genderSelect .genderButton {
  background-color: white;
  color: #339ee6;
}
.genderSelect .genderLabel {
  color: white;
  font-size: 1.2em;
  font-family: 'notoserif-italic';
}
