<ion-view class="debugView" ng-controller="DebugCtrl">
  <ion-tabs class="tabs-dark">
    <ion-tab title="Texts" icon-on="ion-document-text" icon-off="ion-document-text">
      <ion-header-bar align-title="left" class="bar-dark">
        <div class="buttons">
          <button class="button" ng-click="backButtonClick()">Back</button>
        </div>
        <h1 class="title">Debug</h1>
      </ion-header-bar>
      <ion-content scroll="true" scrollbar-y="true" has-bouncing="true" has-tabs="true" has-footer="true" padding="true">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="refreshTextList()">
        </ion-refresher>
        <ion-list>
          <ion-item class="textListItem item-text-wrap" ng-repeat="text in textList"><p>{{text.Content}}</p></ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab title="Images" icon-on="ion-images" icon-off="ion-images">
      <ion-content scroll="true" scrollbar-y="true" has-bouncing="false">
        <div class="imageListItem" ng-repeat="imageUrl in imageUrls" style="background-image:url('{{imageUrl}}')"><p>{{imageUrl}}</p></div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
