.settings {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'notoserif-italic';
}
.settings {
  color: #aaaaaa;
}
/* tabs */
.settings .tabs {
  top: 30px;
  height: 80px;
  background-color: transparent;
  border: none !important;
  border-color: white;
  border-width: 0px;
}
.settings .tabs-striped .tabs {
  background-color: transparent;
  border: none !important;
}
.settings .tab-nav {
  background-color: transparent;
  border: none !important;
}
.settings .tab-item {
  border: none !important;
}
.settings .tab-item-active {
  border: none !important;
}
.settings .tabs .icon {
  font-size: 1.7em;
  color: #aaaaaa;
}
.settings .tabs .tab-item-active .icon {
  font-size: 1.7em;
  color: #339ee6;
}
.settings .tab-title {
  font-size: 0.8em;
  color: #aaaaaa;
}
.settings .tab-item-active .tab-title {
  color: #339ee6;
}
.settings .tab-content {
  top: 110px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 2px;
  border-top-color: #339ee6; 
}
/* select */
.settings .item-select select {
  background-color: transparent;
  color: black;
  padding-top: 10px;
  padding-bottom: 0px;
}
/* toggle */
.settings .item-toggle {
  height: 50px;
  border-style: none;
}
.settings .track {
  border-color: #339ee6 !important;
  background-color: #339ee6 !important;
}
.settings .toggle {
  right: 0px;
}
.settings .toggle input:checked + .track {
  background-color: #339ee6 !important;
  background-opacity: 0.5;
}
/* input */
/*
.settings .input-label {
  padding-bottom: 8px;
  font-size: 14px;
  color: #aaaaaa;
}
.settings input {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 60%;
  border-color: #339ee6;
  color: #339ee6;
  font-size: 1em;
  padding-left: 10px;
}
*/
/* time picker */
.settings .timePicker {
  float: right;
}
.settings .timePicker .arrow {
  color: #339ee6;
} 
.settings .timePicker .value {
  color: #339ee6;
  border-color :#339ee6;
  font-family: 'notoserif-italic';
} 
/* radio boxes */
.settings .radioGroup {
  clear: both;
}
.settings .radioGroupLabel {
  margin-top: 18px;
}
.settings .radioGroupButtons {
  float: right;
}
.settings .item-radio {
  float: left;
  border: none;
}
.settings .item-radio .item-content {
  margin: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #339ee6;
  border-radius: 3px;
  font-size: 1em;
  color: #339ee6;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.settings .item-radio input:checked ~ .item-content {
  color: white;
  background-color: #339ee6;
}
.settings .item-radio .radio-icon {
  display: none;
}
/* pick from contact button */
/* done button */
.settings .doneButtonContainer {
  z-index: 1000;
  width: 100%;
  position: absolute;
  height: 40px;
}
.settings .doneButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #339ee6;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 1.25em;
  vertical-align: center;
  text-align: center;
}
