.settings {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'notoserif-italic';
}
.settings {
  color: #aaaaaa;
}
/* close button */
.settings .closeButtonHit {
  position: absolute;
  right: 0px;
  z-index: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 10px;
}
.settings .closeButton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  color: #339ee6;
  border-radius: 3px;
  vertical-align: center;
  text-align: center;
}
/* tabs */
.settings .tabs {
  top: 60px;
  height: 80px;
  background-color: transparent;
  border: none !important;
  border-color: white;
  border-width: 0px;
  box-shadow: none !important;
}
.settings .tabs-striped .tabs {
  background-color: transparent;
  border: none !important;
}
.settings .tab-nav {
  background-color: transparent;
  border: none !important;
}
.settings .tab-item {
  border: none !important;
}
.settings .tab-item-active {
  border: none !important;
}
.settings .tabs .icon {
  font-size: 1.7em;
  color: #aaaaaa;
}
.settings .tabs .tab-item-active .icon {
  font-size: 1.7em;
  color: #339ee6;
}
.settings .tab-title {
  font-size: 0.8em;
  color: #aaaaaa;
}
.settings .tab-item-active .tab-title {
  color: #339ee6;
}
.settings .tab-content {
  top: 140px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 2px;
  border-top-color: #339ee6; 
}
.settings .group {
  margin-top: 10px;
}
/* input blocker */
.settings .inputBlocker {
  position: absolute;
  width: 100%;
  height: 300px;
}
/* select */
.settings .wrap-dd-select {
  margin: 0px;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  color: #339ee6;
  border-color: #339ee6;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 6px;
}
.settings .wrap-dd-select .dropdown {
  z-index: 6000;
}
/* toggle */
.settings .item-toggle {
  height: 50px;
  border-style: none;
}
.settings .track {
  border-color: #339ee6 !important;
  background-color: #339ee6 !important;
}
.settings .toggle {
  right: 0px;
}
.settings .toggle input:checked + .track {
  background-color: #339ee6 !important;
  background-opacity: 0.5;
}
/* time picker */
.settings .timePickerContainer {
  width: 100%;
  text-align: center;
}
.settings .timePicker {
  display: inline-block;
}
.settings .timePicker .arrow {
  color: #339ee6;
} 
.settings .timePicker .value {
  color: #339ee6;
  border-color :#339ee6;
  font-family: 'notoserif-italic';
} 
.settings .messageText {
  color: #339ee6;
  padding-bottom: 10px;
}
/* radio boxes */
/* radio boxes */
.settings .radioGroup {
  clear: both;
}
.settings .radioGroupLabel {
  float: left;
  padding-top: 6px;
  white-space: nowrap;
}
.settings .radioGroupButtons {
  float: right;
}
.settings .item-radio {
  float: left;
  border: none;
}
.settings .item-radio .item-content {
  margin: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #339ee6;
  border-radius: 3px;
  font-size: 0.75em;
  color: #339ee6;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.settings .item-radio input:checked ~ .item-content {
  color: white;
  background-color: #339ee6;
}
.settings .item-radio .radio-icon {
  display: none;
}
/* reminder screen */
.settings .reminderLabel {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
}
.settings .item-toggle {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  width: 55px;
}
.settings .motherNameSelect {
  margin-top: 5px;
}
.settings .motherNameSelect select {
  left: 0;
  padding-left: 8px;
  padding-top: 9px;
  margin-left: 0px;
  font-family: 'notoserif-italic';
  color: #339ee6;
  font-size: 16px;
  direction: ltr;
}
