<div class="settings" ng-controller="SettingsCtrl">
  <ion-tabs class="tabs-light">
    <ion-tab title="Mum" icon-on="ion-android-contact" icon-off="ion-android-contact">
      <gw-mob-contact
        emailaddresslabel="'Mum\'s Email Address'"
        mobilenumberlabel="'Mum\'s Mobile Number'"
        emailaddress="settings.emailAddress"
        mobilenumber="settings.mobileNumber">
      </gw-mob-contact>
    </ion-tab>
    <ion-tab title="Messages" icon-on="ion-chatbox" icon-off="ion-chatbox">
      <div class="radioGroup">
        <label class="radioGroupLabel">Thinking of you</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.intentionThinkOfYou" ng-value="'none'" name="thinkOfYou">none</ion-radio>
          <ion-radio ng-model="settings.intentionThinkOfYou" ng-value="'few'" name="thinkOfYou">few</ion-radio>
          <ion-radio ng-model="settings.intentionThinkOfYou" ng-value="'many'" name="thinkOfYou">many</ion-radio>
        </div>
      </div>
      <div class="radioGroup">
        <label class="radioGroupLabel">Come to dinner</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.intentionComeToDinner" ng-value="'none'" name="comeToDinner">none</ion-radio>
          <ion-radio ng-model="settings.intentionComeToDinner" ng-value="'few'" name="comeToDinner">few</ion-radio>
          <ion-radio ng-model="settings.intentionComeToDinner" ng-value="'many'" name="comeToDinner">many</ion-radio>
        </div>
      </div>
    </ion-tab>
    <ion-tab title="Images" icon-on="ion-image" icon-off="ion-image">
      <div class="radioGroup">
        <label class="radioGroupLabel">Kittens</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.imageKittens" ng-value="'none'" name="kittens">none</ion-radio>
          <ion-radio ng-model="settings.imageKittens" ng-value="'few'" name="kittens">few</ion-radio>
          <ion-radio ng-model="settings.imageKittens" ng-value="'many'" name="kittens">many</ion-radio>
        </div>
      </div>
      <div class="radioGroup">
        <label class="radioGroupLabel">Nature</label>
        <div class="radioGroupButtons">
          <ion-radio ng-model="settings.imageNature" ng-value="'none'" name="nature">none</ion-radio>
          <ion-radio ng-model="settings.imageNature" ng-value="'few'" name="nature">few</ion-radio>
          <ion-radio ng-model="settings.imageNature" ng-value="'many'" name="nature">many</ion-radio>
        </div>
      </div>
    </ion-tab>
    <ion-tab title="Reminder" icon-on="ion-clock" icon-off="ion-clock">
      <div class="radioGroup">
        <div style="float:left; margin-top:10px">
          <label class="radioGroupLabel">Daily reminder</label>
        </div>
        <div style="float:right">
          <ion-toggle ng-model="settings.notification" toggle-class="toggle-calm"></ion-toggle>
        </div>
      </div>
      <div class="radioGroup" ng-show="settings.notification">
        <div style="float:left; margin-top:40px">
          <label class="radioGroupLabel">Time of day</label>
        </div>
        <gw-mob-timepicker hour="settings.notificationHour" minute="settings.notificationMinute" minutestep="15">
        </gw-mob-timepicker>
      </div>
    </ion-tab>
  </ion-tabs>
  <div class="doneButtonContainer" style="top:{{deviceHeight-60}}px">
    <div class="doneButton" ng-click="close()">Done</div>
  </div>
</div>
